@model TCC_WEB.Models.RecebimentodeExame

@{
	ViewData["Title"] = "Delete";
}

<h4>Recebimento de Exame</h4>
<h2>Deletar</h2>

<h3>Você está certo que deseja deletar?</h3>
<div class="table-responsive ">
	<table class="table table-dark table-borderless ">
		<thead>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Data):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Data)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.TipodeExame):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.TipodeExame.NomedoExame)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Dado):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Dado)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Paciente):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Paciente.Nome)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.recebe):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.recebe)</i>
				</td>
			</tr>
		</thead>
	</table>
</div>

<div>
	<form asp-action="Delete">
		<input type="hidden" asp-for="RecebimentodeExameId" />
		<input type="submit" value="Deletar" class="btn btn-danger" /> |
		<a class="btn btn-primary" asp-action="Index">Voltar ao Index</a>
	</form>
</div>
