@model TCC_WEB.Models.Paciente

@{
	ViewData["Title"] = "Delete";
}

<h4>Paciente</h4>

<h2>Deletar</h2>

<h3>Você está certo que deseja deletar?</h3>


<div class="table-responsive ">
	<table class="table table-dark table-borderless ">
		<thead>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Nome):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Nome)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.SobreNome):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.SobreNome)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Idade):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Idade)</i>
				</td>
			</tr>
			<tr>
				<th>
					<font size="4">@Html.DisplayNameFor(model => model.Email):</font>
				</th>
			</tr>
			<tr>
				<td>
					<i>@Html.DisplayFor(model => model.Email)</i>
				</td>
			</tr>
		</thead>
	</table>
</div>

<div>

	<form asp-action="Delete">
		<input type="hidden" asp-for="PacienteId" />
		<input class="btn btn-danger" type="submit" value="Delete"  /> |
		<a class="btn btn-primary" asp-action="Index">Back to List</a>
	</form>
</div>
